@model CreateReservationViewModel

@{
    ViewData["Title"] = "Create new reservation";
}

<h1 class="display-1">Create reservation</h1>
<div class="card">
    <div class="card-body">
        <form method="post">
            <div class="form-floating mb-3">
                <select class="form-select mb-3" asp-for="StartLocationId" asp-items="@Model.AllLocations"></select>
                <label asp-for="StartLocationId">Start location</label>
                <span class="text-danger" asp-validation-for="StartLocationId"></span>
            </div>
            
            <div class="form-floating mb-3">
                <select class="form-select mb-3" asp-for="EndLocationId" asp-items="@Model.AllLocations"></select>
                <label asp-for="EndLocationId">End location</label>
                <span class="text-danger" asp-validation-for="EndLocationId"></span>
            </div>
            
            <div class="form-floating mb-3">
                <select class="form-select mb-3" asp-for="CarId" asp-items="@Model.AllCars"></select>
                <label asp-for="CarId">Car</label>
                <span class="text-danger" asp-validation-for="CarId"></span>
            </div>
            
            <div class="form-floating mb-3">
                <input class="form-control" asp-for="StartDate" placeholder="StartDate"/>
                <label asp-for="StartDate">Start date</label>
                <span class="text-danger" asp-validation-for="StartDate"></span>
            </div>
            <div class="form-floating mb-3">
                <input class="form-control" asp-for="EndDate" placeholder="EndDate"/>
                <label asp-for="EndDate">End date</label>
                <span class="text-danger" asp-validation-for="EndDate"></span>
            </div>
            
            <button class="btn btn-primary">Create</button>
        </form>
    </div>
</div>

